flows.json
[{"id":"ce401d8e.1d2ca","type":"tab","label":"init","disabled":false,"info":""},{"id":"89fe39cb.e59008","type":"tab","label":"websocket","disabled":false,"info":""},{"id":"be605af7.e7d208","type":"tab","label":"homebridge","disabled":false,"info":""},{"id":"a5157b31.b3d168","type":"tab","label":"emit","disabled":false,"info":""},{"id":"c618faed.425b58","type":"tab","label":"serial interface","disabled":false,"info":""},{"id":"30b5494b.2471e6","type":"tab","label":"miscellaneous","disabled":false,"info":""},{"id":"b7ba9ec5.91f5b","type":"tab","label":"mesurements","disabled":false,"info":""},{"id":"50be0094.26e26","type":"tab","label":"rss","disabled":false,"info":""},{"id":"ab0dd0bb.98fe4","type":"tab","label":"debug","disabled":false,"info":""},{"id":"c4afc286.cf386","type":"mqtt-broker","z":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b73792c7.f96dc","type":"socketio-config","z":"","port":"1881","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"839e67cc.61fca8","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"j5net","name":""},{"id":"3785bc04.4e47b4","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"cc9999fb.53fce8","type":"mqtt in","z":"be605af7.e7d208","name":"","topic":"homebridge/from/set","qos":"2","broker":"c4afc286.cf386","x":152,"y":208,"wires":[["818095d1.7f6288"]]},{"id":"977c4ae3.9074d8","type":"debug","z":"be605af7.e7d208","name":"","active":false,"console":"false","complete":"payload","x":433,"y":673,"wires":[]},{"id":"818095d1.7f6288","type":"json","z":"be605af7.e7d208","name":"","pretty":false,"x":319,"y":207,"wires":[["268dbbe1.901174"]]},{"id":"82a88bd3.bbf818","type":"mqtt in","z":"b7ba9ec5.91f5b","name":"","topic":"j5net/nodes/gw0/+","qos":"2","broker":"c4afc286.cf386","x":110,"y":220,"wires":[["2d1bc974.926c86"]]},{"id":"2d1bc974.926c86","type":"json","z":"b7ba9ec5.91f5b","name":"","pretty":false,"x":329,"y":239,"wires":[["5842e012.91966","dc932e50.15d4e"]]},{"id":"5842e012.91966","type":"function","z":"b7ba9ec5.91f5b","name":"","func":"var temp = Object.assign({}, msg.payload);\nmsg.payload = {};\nmsg.payload.data = temp;\nmsg.payload.id = msg.topic.replace(\"j5net/nodes/\",\"\");\nmsg.payload.time = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":293,"wires":[["9af28d74.96e8e","8cd30641.7b71f8","ec075840.f4a748"]]},{"id":"dc932e50.15d4e","type":"function","z":"b7ba9ec5.91f5b","name":"","func":"/*var temp = Object.assign({}, msg.payload);\n\nvar a = [];\n\nvar myid = msg.topic.replace(\"j5net/nodes/\",\"\");\n\nvar topics = myid.split(\"/\");\n\nif (topics.length==2) {\n    a.push({id : myid });\n    a.push(\n        {$set : {\n            lastData:temp,\n            lastUpdate: new Date()\n        }}\n    );\n    a.push({upsert:true});\n}\n\nmsg.payload = a;*/\n\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":173,"wires":[[]]},{"id":"b6ccb2a6.ba40e","type":"sunrise","z":"30b5494b.2471e6","name":"","lat":"47.75","lon":"7.3333","start":"sunrise","end":"sunset","x":259.5,"y":246,"wires":[["8d90ccb4.f25e7"],[]]},{"id":"8d90ccb4.f25e7","type":"debug","z":"30b5494b.2471e6","name":"","active":false,"console":"false","complete":"false","x":490,"y":240,"wires":[]},{"id":"83fa4d47.7be97","type":"inject","z":"30b5494b.2471e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":190,"y":140,"wires":[["c040bd21.48b07"]]},{"id":"c040bd21.48b07","type":"function","z":"30b5494b.2471e6","name":"","func":"msg.payload = Math.floor(msg.payload/1000-new Date().getTimezoneOffset()*60);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["48acc224.c3903c"]]},{"id":"48acc224.c3903c","type":"mqtt out","z":"30b5494b.2471e6","name":"","topic":"j5net/shared/utctime","qos":"","retain":"true","broker":"c4afc286.cf386","x":540,"y":140,"wires":[]},{"id":"ffd2e366.6b6","type":"http request","z":"30b5494b.2471e6","name":"google maps http","method":"GET","ret":"txt","url":"","tls":"","x":590,"y":440,"wires":[["bc189c99.76cbc"]]},{"id":"556ca45a.95fc3c","type":"inject","z":"30b5494b.2471e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":110,"y":420,"wires":[["173fc035.af114","10b0bcc2.75aac3"]]},{"id":"bc189c99.76cbc","type":"json","z":"30b5494b.2471e6","name":"","pretty":false,"x":750,"y":440,"wires":[["57050d2d.39d874"]]},{"id":"57050d2d.39d874","type":"function","z":"30b5494b.2471e6","name":"","func":"var temp = Object.assign({}, msg.payload);\nmsg.payload={};\nmsg.payload.home2work={};\nmsg.payload.home2work.distance = temp.routes[0].legs[0].distance;\nmsg.payload.home2work.duration = temp.routes[0].legs[0].duration;\nmsg.payload.home2work.summary = temp.routes[0].summary;\nmsg.payload.home2work.lastUpdate = new Date();\ncontext.global.traffic.home2work=Object.assign({}, msg.payload.home2work);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["409b4b78.1e8ce4"]]},{"id":"173fc035.af114","type":"function","z":"30b5494b.2471e6","name":"home->work","func":"msg.url=context.global.config.googleMapsURL;\nmsg.url+=\"?origin=\";\nmsg.url+=context.global.config.googleMapsHome;\nmsg.url+=\"&destination=\";\nmsg.url+=context.global.config.googleMapsWork;\nmsg.url+=\"&waypoints=via:\";\nmsg.url+=context.global.config.googleMapsWaypoint0;\nmsg.url+=\"&key=\";\nmsg.url+=context.global.config.googleMapsKey;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["ffd2e366.6b6"]]},{"id":"28f0b70c.609188","type":"function","z":"30b5494b.2471e6","name":"","func":"msg.url=\"http://api.wunderground.com/api/\";\nmsg.url+=context.global.config.wunderground.key;\nmsg.url+=\"/conditions/q/\";\nmsg.url+=context.global.config.wunderground.obs_country;\nmsg.url+=\"/\";\nmsg.url+=context.global.config.wunderground.obs_city;\nmsg.url+=\".json\";\nmsg.payload=msg.url;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["573f7ab7.f9c364"]]},{"id":"573f7ab7.f9c364","type":"http request","z":"30b5494b.2471e6","name":"wunderground http","method":"GET","ret":"txt","url":"","tls":"","x":570,"y":560,"wires":[["86f7b3c0.e9d0c"]]},{"id":"86f7b3c0.e9d0c","type":"json","z":"30b5494b.2471e6","name":"","pretty":false,"x":730,"y":560,"wires":[["d79c4d66.23ac5"]]},{"id":"d79c4d66.23ac5","type":"function","z":"30b5494b.2471e6","name":"","func":"const windDirectionLocalization = {\n      \"Norh\" :    \"N\",\n      \"NNE\" :     \"NNE\",\n      \"NE\" :      \"NE\",\n      \"ENE\" :     \"ENE\",\n      \"East\" :    \"E\",\n      \"ESE\" :     \"ESE\",\n      \"SE\" :      \"SE\",\n      \"SSE\" :     \"SSE\",\n      \"South\" :   \"S\",\n      \"SSW\" :     \"SSO\",\n      \"SW\" :      \"SO\",\n      \"WSW\" :     \"OSO\",\n      \"West\" :    \"O\",\n      \"WNW\" :     \"ONO\",\n      \"NW\" :      \"NO\",\n      \"NNW\" :     \"NNO\"\n};\n\nvar j = Object.assign({}, msg.payload);\nmsg.payload={};\nmsg.payload.code = j.current_observation.icon;\nmsg.payload.temp = j.current_observation.temp_c;\nmsg.payload.wind_dir = windDirectionLocalization[j.current_observation.wind_dir];\nmsg.payload.wind_degrees = j.current_observation.wind_degrees;\nmsg.payload.wind_kph = j.current_observation.wind_kph;\nmsg.payload.wind_gust_kph = j.current_observation.wind_gust_kph;\nmsg.payload.pressure_mb= j.current_observation.pressure_mb;\n\ncontext.global.weather.current = Object.assign({}, msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":560,"wires":[["f6b95be9.682348"]]},{"id":"99f91909.9001d8","type":"function","z":"30b5494b.2471e6","name":"","func":"msg.url=\"http://api.wunderground.com/api/\";\nmsg.url+=context.global.config.wunderground.key;\nmsg.url+=\"/forecast10day/q/\";\nmsg.url+=context.global.config.wunderground.home_country;\nmsg.url+=\"/\";\nmsg.url+=context.global.config.wunderground.home_city;\nmsg.url+=\".json\";\nmsg.payload=msg.url;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["739a989d.95e4e8"]]},{"id":"739a989d.95e4e8","type":"http request","z":"30b5494b.2471e6","name":"wunderground http","method":"GET","ret":"txt","url":"","tls":"","x":570,"y":620,"wires":[["6e24fda.7ad2104"]]},{"id":"6e24fda.7ad2104","type":"json","z":"30b5494b.2471e6","name":"","pretty":false,"x":730,"y":620,"wires":[["7550eae5.f06124"]]},{"id":"7550eae5.f06124","type":"function","z":"30b5494b.2471e6","name":"","func":"const dayLocalization = {\n      \"Mon\" : \"lun\",\n      \"Tue\" : \"mar\",\n      \"Wed\" : \"mer\",\n      \"Thu\" : \"jeu\",\n      \"Fri\" : \"ven\",\n      \"Sat\" : \"sam\",\n      \"Sun\" : \"dim\"\n};\n\nvar j = Object.assign({}, msg.payload);\nmsg.payload={};\n\nvar forecasts = [];\nfor (var i=0;i<10;i++) {\n    forecasts.push({\n        day:  dayLocalization[j.forecast.simpleforecast.forecastday[i].date.weekday_short],\n        low:  parseInt(j.forecast.simpleforecast.forecastday[i].low.celsius),\n        high: parseInt(j.forecast.simpleforecast.forecastday[i].high.celsius),\n        code: j.forecast.simpleforecast.forecastday[i].icon\n    });\n}\nmsg.payload = forecasts;\n\ncontext.global.weather.forecasts = forecasts.slice();\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":620,"wires":[["86c6a17d.d6771"]]},{"id":"615eac02.896894","type":"function","z":"30b5494b.2471e6","name":"","func":"msg.url=\"http://api.wunderground.com/api/\";\nmsg.url+=context.global.config.wunderground.key;\nmsg.url+=\"/astronomy/q/\";\nmsg.url+=context.global.config.wunderground.home_country;\nmsg.url+=\"/\";\nmsg.url+=context.global.config.wunderground.home_city;\nmsg.url+=\".json\";\nmsg.payload=msg.url;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["aae8d480.059e08"]]},{"id":"aae8d480.059e08","type":"http request","z":"30b5494b.2471e6","name":"wunderground http","method":"GET","ret":"txt","url":"","tls":"","x":570,"y":680,"wires":[["9f0a3c54.83377"]]},{"id":"9f0a3c54.83377","type":"json","z":"30b5494b.2471e6","name":"","pretty":false,"x":730,"y":680,"wires":[["bcaf9f6c.d3cad"]]},{"id":"bcaf9f6c.d3cad","type":"function","z":"30b5494b.2471e6","name":"","func":"var j = Object.assign({}, msg.payload);\nmsg.payload={};\nmsg.payload.sunrise = j.sun_phase.sunrise.hour+\":\"+j.sun_phase.sunrise.minute;\nmsg.payload.sunset = j.sun_phase.sunset.hour+\":\"+j.sun_phase.sunset.minute;\n\ncontext.global.weather.astronomy = Object.assign({}, msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":680,"wires":[["37bdc598.9e71ca"]]},{"id":"86c6a17d.d6771","type":"mqtt out","z":"30b5494b.2471e6","name":"","topic":"j5net/shared/weather/forecasts","qos":"","retain":"true","broker":"c4afc286.cf386","x":1090,"y":620,"wires":[]},{"id":"37bdc598.9e71ca","type":"mqtt out","z":"30b5494b.2471e6","name":"","topic":"j5net/shared/weather/astronomy","qos":"","retain":"true","broker":"c4afc286.cf386","x":1090,"y":680,"wires":[]},{"id":"f6b95be9.682348","type":"mqtt out","z":"30b5494b.2471e6","name":"","topic":"j5net/shared/weather/current","qos":"","retain":"true","broker":"c4afc286.cf386","x":1080,"y":560,"wires":[]},{"id":"d62c0a6e.800cf8","type":"inject","z":"30b5494b.2471e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":130,"y":780,"wires":[["28f0b70c.609188","99f91909.9001d8","615eac02.896894","af91e6d1.923b38","acdbbaaf.3dd1e8"]]},{"id":"4d2403a2.95529c","type":"file in","z":"ce401d8e.1d2ca","name":"","filename":"/data/j5net-config.json","format":"utf8","chunk":false,"sendError":true,"x":320,"y":100,"wires":[["198fb0be.6e3b9f"]]},{"id":"4d1f475a.e14788","type":"inject","z":"ce401d8e.1d2ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":100,"wires":[["4d2403a2.95529c"]]},{"id":"198fb0be.6e3b9f","type":"json","z":"ce401d8e.1d2ca","name":"","pretty":false,"x":490,"y":100,"wires":[["bf0a6da0.fe236"]]},{"id":"bf0a6da0.fe236","type":"function","z":"ce401d8e.1d2ca","name":"store in context.global.config","func":"context.global.config = msg.payload;\ncontext.global.nodes = {};\ncontext.global.nodeinfos = {};\ncontext.global.weather = {};\ncontext.global.traffic = {};\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["877b38b2.a4f968","c2d004b8.b9de48"]]},{"id":"877b38b2.a4f968","type":"link out","z":"ce401d8e.1d2ca","name":"config","links":["e9502b24.cb60d8","cc93ad4f.0565f"],"x":981.5,"y":101,"wires":[]},{"id":"e9502b24.cb60d8","type":"link in","z":"30b5494b.2471e6","name":"","links":["877b38b2.a4f968"],"x":55,"y":560,"wires":[["173fc035.af114","28f0b70c.609188","99f91909.9001d8","615eac02.896894","10b0bcc2.75aac3","af91e6d1.923b38","acdbbaaf.3dd1e8"]]},{"id":"409b4b78.1e8ce4","type":"mqtt out","z":"30b5494b.2471e6","name":"","topic":"j5net/shared/traffic","qos":"","retain":"","broker":"c4afc286.cf386","x":1070,"y":440,"wires":[]},{"id":"54612ba0.a67954","type":"comment","z":"30b5494b.2471e6","name":"pseudo-ntp time message","info":"","x":190,"y":100,"wires":[]},{"id":"24a25d09.3c81e2","type":"comment","z":"30b5494b.2471e6","name":"config","info":"","x":78.5,"y":519,"wires":[]},{"id":"b2c239ce.51b878","type":"comment","z":"30b5494b.2471e6","name":"every 10 minutes","info":"","x":102.5,"y":382,"wires":[]},{"id":"86d651ad.1cc0c","type":"comment","z":"30b5494b.2471e6","name":"every 1 hour","info":"","x":90,"y":740,"wires":[]},{"id":"d90a6a02.bf39b8","type":"mqtt in","z":"be605af7.e7d208","name":"","topic":"j5net/nodes/gw0/1/rc_emit","qos":"2","broker":"c4afc286.cf386","x":198,"y":554,"wires":[[]]},{"id":"2bb322c4.59501e","type":"debug","z":"be605af7.e7d208","name":"","active":false,"console":"false","complete":"false","x":998,"y":554,"wires":[]},{"id":"6bf5ce25.c87b3","type":"function","z":"be605af7.e7d208","name":"find device by id","func":"for (var i in context.global.config.homebridge) {\n    \n    if (context.global.config.homebridge[i].on.length==1 && context.global.config.homebridge[i].on.length==1) {\n        // takes only the stand-alone nodes, not the \"scenarii\"\n        if (context.global.config.homebridge[i].on[0] == msg.payload) {\n            msg.payload = {\n                \"name\" : i,\n                \"service_name\" : context.global.config.homebridge[i].service_name,\n                \"value\" : true\n            };\n        }\n        if (context.global.config.homebridge[i].off[0] == msg.payload) {\n            msg.payload = {\n                \"name\" : i,\n                \"service_name\" : context.global.config.homebridge[i].service_name,\n                \"value\" : false\n            }    \n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":554,"wires":[["a646c827.f14198"]]},{"id":"a646c827.f14198","type":"function","z":"be605af7.e7d208","name":"encode homebridge format","func":"msg.payload.characteristic = \"On\";\n\nreturn msg;","outputs":1,"noerr":0,"x":748,"y":554,"wires":[["2bb322c4.59501e","dc718d5c.2292e"]]},{"id":"dc718d5c.2292e","type":"mqtt out","z":"be605af7.e7d208","name":"","topic":"homebridge/to/set","qos":"","retain":"","broker":"c4afc286.cf386","x":1023,"y":610,"wires":[]},{"id":"2128be5b.947152","type":"rss","z":"50be0094.26e26","name":"rss","feedOptionRules":[{"name":"title","type":"str","value":"j5net"},{"name":"feed_url","type":"str","value":"http://wcp.eu.com:3444/rss.xml"},{"name":"site_url","type":"str","value":"http://wcp.eu.com:3444"}],"itemOptionRules":[{"name":"title","type":"item","value":"title"},{"name":"description","type":"item","value":"description"},{"name":"guid","type":"item","value":"guid"},{"name":"url","type":"item","value":"url"}],"x":530,"y":180,"wires":[["6b45cbad.6558f4"]]},{"id":"6b45cbad.6558f4","type":"file","z":"50be0094.26e26","name":"","filename":"/www/rss.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":700,"y":180,"wires":[]},{"id":"9b5b18de.8edf08","type":"function","z":"50be0094.26e26","name":"encode rss","func":"var t=[];\n\nfor (var i in context.global.nodes) {\n    t.push(\n        {\n            title:  context.global.nodes[i].name + ': ' + context.global.nodes[i].lastData.t + '°C',\n            description: '',\n            url: '', \n            guid: Math.random().toString(36).substr(2, 8)\n        }\n    );\n}\n\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["2128be5b.947152"]]},{"id":"303381f6.2e732e","type":"inject","z":"50be0094.26e26","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":150,"y":140,"wires":[["9b5b18de.8edf08"]]},{"id":"4d116848.05d138","type":"comment","z":"50be0094.26e26","name":"every 10 minutes","info":"","x":140,"y":100,"wires":[]},{"id":"cc93ad4f.0565f","type":"link in","z":"50be0094.26e26","name":"","links":["877b38b2.a4f968"],"x":155,"y":280,"wires":[["9b5b18de.8edf08"]]},{"id":"e9514046.c2393","type":"comment","z":"50be0094.26e26","name":"config","info":"","x":130,"y":240,"wires":[]},{"id":"9af28d74.96e8e","type":"function","z":"b7ba9ec5.91f5b","name":"store in global","func":"context.global.nodes[msg.payload.id]={\n    lastData : msg.payload.data,\n    lastUpdate : msg.payload.time,\n    name : context.global.nodeinfos[msg.payload.id]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":758.0000381469727,"y":398.0000009536743,"wires":[[]]},{"id":"63d7a87c.9855c8","type":"function","z":"ce401d8e.1d2ca","name":"init nodeinfos","func":"for (var i in msg.payload) {\n    context.global.nodeinfos[msg.payload[i].id] = msg.payload[i].name;\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":260,"wires":[[]]},{"id":"7f6591b7.54a2c","type":"function","z":"ce401d8e.1d2ca","name":"{}","func":"msg = {};\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["afb28553.b39708"]]},{"id":"af2ed1c0.4f8c2","type":"inject","z":"ab0dd0bb.98fe4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":160,"wires":[["23a42e1e.89b922"]]},{"id":"e3198585.eeec48","type":"debug","z":"ab0dd0bb.98fe4","name":"","active":true,"console":"false","complete":"false","x":730,"y":160,"wires":[]},{"id":"23a42e1e.89b922","type":"function","z":"ab0dd0bb.98fe4","name":"global nodes","func":"msg.payload = context.global.nodes;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["e3198585.eeec48"]]},{"id":"269e5800.cfba38","type":"inject","z":"ab0dd0bb.98fe4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":260,"wires":[["c3aaefad.8884f"]]},{"id":"53de9ee8.326fd","type":"debug","z":"ab0dd0bb.98fe4","name":"","active":true,"console":"false","complete":"false","x":730,"y":260,"wires":[]},{"id":"c3aaefad.8884f","type":"function","z":"ab0dd0bb.98fe4","name":"global nodeinfos","func":"msg.payload = context.global.nodeinfos;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["53de9ee8.326fd"]]},{"id":"f40a06d9.55b278","type":"http request","z":"30b5494b.2471e6","name":"google maps http","method":"GET","ret":"txt","url":"","tls":"","x":590,"y":380,"wires":[["4388d9.1a1bb728"]]},{"id":"4388d9.1a1bb728","type":"json","z":"30b5494b.2471e6","name":"","pretty":false,"x":750,"y":380,"wires":[["b3afe6b0.e3cb78"]]},{"id":"b3afe6b0.e3cb78","type":"function","z":"30b5494b.2471e6","name":"","func":"var temp = Object.assign({}, msg.payload);\nmsg.payload={};\nmsg.payload.work2home={};\nmsg.payload.work2home.distance = temp.routes[0].legs[0].distance;\nmsg.payload.work2home.duration = temp.routes[0].legs[0].duration;\nmsg.payload.work2home.summary = temp.routes[0].summary;\nmsg.payload.work2home.lastUpdate = new Date();\ncontext.global.traffic.work2home=Object.assign({}, msg.payload.work2home);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":380,"wires":[["9abb2d93.d1a4e"]]},{"id":"10b0bcc2.75aac3","type":"function","z":"30b5494b.2471e6","name":"work->home","func":"msg.url=context.global.config.googleMapsURL;\nmsg.url+=\"?origin=\";\nmsg.url+=context.global.config.googleMapsWork;\nmsg.url+=\"&destination=\";\nmsg.url+=context.global.config.googleMapsHome;\nmsg.url+=\"&waypoints=via:\";\nmsg.url+=context.global.config.googleMapsWaypoint0;\nmsg.url+=\"&key=\";\nmsg.url+=context.global.config.googleMapsKey;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["f40a06d9.55b278"]]},{"id":"9abb2d93.d1a4e","type":"mqtt out","z":"30b5494b.2471e6","name":"","topic":"j5net/shared/traffic","qos":"","retain":"","broker":"c4afc286.cf386","x":1070,"y":380,"wires":[]},{"id":"7f790726.5e8398","type":"socketio-in","z":"89fe39cb.e59008","name":"","server":"b73792c7.f96dc","rules":[{"v":"nodes"},{"v":"weather"},{"v":"action"},{"v":"node-detail"},{"v":"traffic"}],"x":75,"y":235,"wires":[["7b80a499.f19b5c"]]},{"id":"494ffcdd.e1e5e4","type":"socketio-out","z":"89fe39cb.e59008","name":"","server":"b73792c7.f96dc","x":1103,"y":238,"wires":[]},{"id":"7b80a499.f19b5c","type":"switch","z":"89fe39cb.e59008","name":"","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"nodes","vt":"str"},{"t":"eq","v":"node-detail","vt":"str"},{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"action","vt":"str"},{"t":"eq","v":"traffic","vt":"str"}],"checkall":"true","outputs":5,"x":230,"y":240,"wires":[["438d1ad0.31b264"],["5e9d2ebd.e26d3"],["64bb75f3.dfdedc"],["d560e799.f11b08"],["f153e524.2e8908"]],"outputLabels":["nodes","node-detail","weather","action","traffic"]},{"id":"438d1ad0.31b264","type":"function","z":"89fe39cb.e59008","name":"nodes","func":"msg.payload = context.global.nodes;\nreturn msg;","outputs":1,"noerr":0,"x":721,"y":143,"wires":[["494ffcdd.e1e5e4"]]},{"id":"64bb75f3.dfdedc","type":"function","z":"89fe39cb.e59008","name":"weather","func":"msg.payload = context.global.weather;\nreturn msg;","outputs":1,"noerr":0,"x":638,"y":310,"wires":[["494ffcdd.e1e5e4"]]},{"id":"e348365c.eab3c8","type":"mqtt out","z":"30b5494b.2471e6","name":"","topic":"j5net/shared/weather/last_update","qos":"","retain":"true","broker":"c4afc286.cf386","x":1100,"y":740,"wires":[]},{"id":"835cd72.340a028","type":"mqtt out","z":"30b5494b.2471e6","name":"","topic":"j5net/shared/weather/city","qos":"","retain":"true","broker":"c4afc286.cf386","x":1070,"y":800,"wires":[]},{"id":"af91e6d1.923b38","type":"function","z":"30b5494b.2471e6","name":"","func":"msg.payload = Math.floor(Date.now()/1000).toString();\n\ncontext.global.weather.lastUpdate = Date(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":740,"wires":[["e348365c.eab3c8"]]},{"id":"acdbbaaf.3dd1e8","type":"function","z":"30b5494b.2471e6","name":"","func":"msg.payload = context.global.config.wunderground.home_city;\n\ncontext.global.weather.city = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":800,"wires":[["835cd72.340a028"]]},{"id":"4af3c2a6.bee85c","type":"inject","z":"ab0dd0bb.98fe4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":340,"wires":[["33bf751e.b3ccfa"]]},{"id":"2cd222ef.26bc3e","type":"debug","z":"ab0dd0bb.98fe4","name":"","active":true,"console":"false","complete":"false","x":730,"y":340,"wires":[]},{"id":"33bf751e.b3ccfa","type":"function","z":"ab0dd0bb.98fe4","name":"global weather","func":"msg.payload = context.global.weather;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["2cd222ef.26bc3e"]]},{"id":"d560e799.f11b08","type":"json","z":"89fe39cb.e59008","name":"","pretty":false,"x":509.00000381469727,"y":423.0000410079956,"wires":[["5fcc1c0c.e3cf44"]]},{"id":"dc737f42.626e2","type":"inject","z":"ab0dd0bb.98fe4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":320,"y":440,"wires":[["70831197.ce9e8"]]},{"id":"a09a79dc.551448","type":"debug","z":"ab0dd0bb.98fe4","name":"","active":true,"console":"false","complete":"false","x":750,"y":440,"wires":[]},{"id":"70831197.ce9e8","type":"function","z":"ab0dd0bb.98fe4","name":"global config","func":"msg.payload = context.global.config;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["a09a79dc.551448"]]},{"id":"c2d004b8.b9de48","type":"delay","z":"ce401d8e.1d2ca","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":200,"wires":[["7f6591b7.54a2c"]]},{"id":"bfa934f3.c7ade8","type":"inject","z":"ab0dd0bb.98fe4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":560,"wires":[["b23cc629.b32298"]]},{"id":"d13009c5.a8ef18","type":"debug","z":"ab0dd0bb.98fe4","name":"","active":true,"console":"false","complete":"false","x":951,"y":556,"wires":[]},{"id":"762432ca.2a323c","type":"comment","z":"be605af7.e7d208","name":"homebridge feedback after WS action","info":"","x":218,"y":514,"wires":[]},{"id":"2c790c34.500c74","type":"comment","z":"be605af7.e7d208","name":"homebridge action (siri)","info":"","x":159,"y":145,"wires":[]},{"id":"b23cc629.b32298","type":"function","z":"ab0dd0bb.98fe4","name":"","func":"msg.payload = [\n    {$match:    {\n                    id:   \"gw0/11\",\n                    time:   {   $lte: new Date(\"2018-01-19T23:59:59.000Z\"),\n                                $gte: new Date(\"2018-01-19T00:00:00.000Z\")\n                            }\n                }\n    },\n    \n    {$group:    {\n                    _id :     {     hour:     {$hour: \"$time\"}},\n                    avg :   {     $avg :    \"$data.t\"}\n                }\n    }\n    /*\n    {$sort:     {\n                    \"_id.hour\" :  1\n                }\n    }*/\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":309.5,"y":560,"wires":[["e946f7d0.478738"]]},{"id":"47cc7e90.ef77","type":"comment","z":"b7ba9ec5.91f5b","name":"nodes update / TODO not activated","info":"","x":765.5,"y":131,"wires":[]},{"id":"7f95a3be.7e7efc","type":"comment","z":"b7ba9ec5.91f5b","name":"nodedatas insertOne","info":"","x":752,"y":272,"wires":[]},{"id":"658261d3.995c9","type":"comment","z":"ce401d8e.1d2ca","name":"nodeinfos find.toArray","info":"","x":384.5,"y":216,"wires":[]},{"id":"afb28553.b39708","type":"mongodb in","z":"ce401d8e.1d2ca","mongodb":"839e67cc.61fca8","name":"","collection":"nodeinfos","operation":"find","x":455.5,"y":274,"wires":[["63d7a87c.9855c8"]]},{"id":"e946f7d0.478738","type":"mongodb in","z":"ab0dd0bb.98fe4","mongodb":"839e67cc.61fca8","name":"","collection":"nodedatas","operation":"aggregate","x":538.5,"y":559,"wires":[["ef23a62e.f25108"]]},{"id":"262f5db.967f5a2","type":"mongodb out","z":"b7ba9ec5.91f5b","mongodb":"839e67cc.61fca8","name":"","collection":"nodes","payonly":false,"upsert":true,"multi":false,"operation":"update","x":783.5,"y":177,"wires":[]},{"id":"8cd30641.7b71f8","type":"mongodb out","z":"b7ba9ec5.91f5b","mongodb":"839e67cc.61fca8","name":"","collection":"nodedatas","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":797.5,"y":311,"wires":[]},{"id":"ef23a62e.f25108","type":"function","z":"ab0dd0bb.98fe4","name":"","func":"var res = {}, tmin, tmax;\nres.data = {};\n\nif (msg.payload[0]) {\n    tmin = msg.payload[0].avg;\n    tmax = msg.payload[0].avg;\n}\n\nfor (var i in msg.payload) {\n    res.data[msg.payload[i]._id.hour-(new Date().getTimezoneOffset()/60)] = msg.payload[i].avg;\n    \n    if (msg.payload[i] && msg.payload[i].avg) {\n        if (msg.payload[i].avg>tmax) tmax = msg.payload[i].avg;\n        if (msg.payload[i].avg<tmin) tmin = msg.payload[i].avg;\n    }\n}\n\nres.tmin = Math.round(tmin*100)/100;\nres.tmax = Math.round(tmax*100)/100;\n\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":776.5,"y":559,"wires":[["d13009c5.a8ef18"]]},{"id":"f2abf164.550c9","type":"debug","z":"ab0dd0bb.98fe4","name":"","active":true,"console":"false","complete":"false","x":817.5,"y":505,"wires":[]},{"id":"5e9d2ebd.e26d3","type":"function","z":"89fe39cb.e59008","name":"","func":"msg.payload = [\n    {$match:    {\n                    id:     msg.payload.id,\n                    time:   {   $lte: new Date(msg.payload.end),\n                                $gte: new Date(msg.payload.start)\n                            }\n                }\n    },\n    \n    {$group:    {\n                    _id :   {     hour:     {$hour: \"$time\"}},\n                    avg :   {     $avg :    \"$data.t\"}\n                }\n    },\n    {$sort:     {\n                    \"_id.hour\" :  1\n                }\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":239,"wires":[["6dfeeeee.3602"]]},{"id":"6dfeeeee.3602","type":"mongodb in","z":"89fe39cb.e59008","mongodb":"839e67cc.61fca8","name":"","collection":"nodedatas","operation":"aggregate","x":624,"y":238,"wires":[["77dff2cf.99602c"]]},{"id":"77dff2cf.99602c","type":"function","z":"89fe39cb.e59008","name":"node-detail","func":"var res = {}, tmin, tmax;\nres.data = {};\n\nif (msg.payload[0]) {\n    tmin = msg.payload[0].avg;\n    tmax = msg.payload[0].avg;\n}\n\nfor (var i in msg.payload) {\n    res.data[msg.payload[i]._id.hour-(new Date().getTimezoneOffset()/60)] = msg.payload[i].avg;\n    \n    if (msg.payload[i] && msg.payload[i].avg) {\n        if (msg.payload[i].avg>tmax) tmax = msg.payload[i].avg;\n        if (msg.payload[i].avg<tmin) tmin = msg.payload[i].avg;\n    }\n}\n\nres.tmin = Math.round(tmin*100)/100;\nres.tmax = Math.round(tmax*100)/100;\n\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":857,"y":238,"wires":[["494ffcdd.e1e5e4","be9d2b94.795a08"]]},{"id":"be9d2b94.795a08","type":"debug","z":"89fe39cb.e59008","name":"","active":false,"console":"false","complete":"false","x":1067.5,"y":159,"wires":[]},{"id":"f153e524.2e8908","type":"function","z":"89fe39cb.e59008","name":"traffic","func":"msg.payload = context.global.traffic;\nreturn msg;\n","outputs":1,"noerr":0,"x":656.4999847412109,"y":691.9999713897705,"wires":[["494ffcdd.e1e5e4"]]},{"id":"b6bdca54.9b57d8","type":"serial in","z":"c618faed.425b58","name":"","serial":"3785bc04.4e47b4","x":150.5,"y":129,"wires":[["39b15085.b62f4","927e1ab8.e79f58"]]},{"id":"39b15085.b62f4","type":"function","z":"c618faed.425b58","name":"","func":"const J2NET_HEADER =                    77;\nconst J2NET_HEADER_SIZE\t=\t\t        3;\n\nconst J2NET_PART_WELCOME =\t\t\t    10;\nconst J2NET_PART_ALIVE =\t\t\t    11;\nconst J2NET_PART_CAR_KNOCK =\t\t\t30;\nconst J2NET_PART_CAR_QUESTION =\t\t    31;\nconst J2NET_PART_CAR_ANSWER\t=\t\t    32;\nconst J2NET_PART_TEMP =\t\t\t\t    50;\nconst J2NET_PART_PULSE_COUNT =\t\t    51;\nconst J2NET_PART_TEMP_HUMI =\t\t\t52;\nconst J2NET_PART_NTP =\t\t\t\t    53;\nconst J2NET_PART_RELAY_SET =\t\t\t54;\nconst J2NET_PART_RELAY_GET =\t\t\t55;\nconst J2NET_PART_WEATHER =\t\t\t    60;\nconst J2NET_PART_WEATHERX =\t\t\t    61;\nconst J2NET_PART_HOME_STATUS_FAST =\t\t65;\nconst J2NET_PART_HOME_STATUS_SLOW =\t\t66;\nconst J2NET_PART_DOOR_BELL =\t\t\t68;\nconst J2NET_PART_VCC =\t\t\t\t    70;\n\n\nif (typeof(msg.payload)==\"string\" && msg.payload.startsWith(\"MSG\")) {\n    var data = msg.payload.substr(4,msg.payload.length-7).split(\" \");\n    \n    for (var i=0; i<data.length; i++) {\n        data[i]= parseInt(data[i]);\n    }\n    var odata = {};\n    \n    if (data.length>=3 && data[0]==J2NET_HEADER) {\n        var nodeid = data[1];\n        var seq = data[2];\n        odata.seq = seq;\n        var cursor = 3;\n        \n        while (cursor<data.length) {\n            switch (data[cursor]) {\n                case J2NET_PART_TEMP:\n                    var t = ((data[cursor+1] | data[cursor+2] << 8))/10;\n                    odata.t = t;\n                    cursor+=3;\n                break;\n\n                case J2NET_PART_TEMP_HUMI:\n                    //t = ((float)(elements[cursor+1].toInt() | elements[cursor+2].toInt() << 8))/10;\n                    //h = ((float)(elements[cursor+3].toInt() | elements[cursor+4].toInt() << 8))/10;\n                    cursor+=5;\n                break;\n                case J2NET_PART_PULSE_COUNT:\n                    var w = data[cursor+1] | data[cursor+2] << 8;\n                    odata.w=w;\n                    cursor+=3;\n                break;\n                case J2NET_PART_DOOR_BELL:\n                    cursor+=2;\n                break;\n\n                case J2NET_PART_VCC:\n                    var bat=((1+data[cursor+1]*0.02)*100)/100;\n                    odata.bat=bat;\n                    cursor+=2;\n                break;\n                default:\n                    node.error(\"unknown/broken UMSG part\");\n                    cursor++;\n            }\n            \n        }\n    }\n    \n    msg.payload = JSON.stringify(odata);\n    msg.topic = \"j5net/nodes/gw-1/\"+nodeid;\n}\nreturn msg;","outputs":1,"noerr":0,"x":368.5,"y":130,"wires":[["79305b90.7b81a4"]]},{"id":"1042f6b9.dc6f49","type":"mqtt in","z":"b7ba9ec5.91f5b","name":"","topic":"j5net/nodes/gw-1/+","qos":"2","broker":"c4afc286.cf386","x":110,"y":306,"wires":[["2d1bc974.926c86"]]},{"id":"79305b90.7b81a4","type":"mqtt out","z":"c618faed.425b58","name":"j5net/nodes/gw-1/","topic":"","qos":"","retain":"","broker":"c4afc286.cf386","x":604.5,"y":130,"wires":[]},{"id":"927e1ab8.e79f58","type":"debug","z":"c618faed.425b58","name":"","active":false,"console":"false","complete":"false","x":304.5,"y":68,"wires":[]},{"id":"da0f48ff.d46b28","type":"mqtt in","z":"be605af7.e7d208","name":"","topic":"homebridge/from/#","qos":"2","broker":"c4afc286.cf386","x":166,"y":675,"wires":[["977c4ae3.9074d8","24e5d221.240abe"]]},{"id":"24e5d221.240abe","type":"debug","z":"be605af7.e7d208","name":"","active":false,"console":"false","complete":"topic","x":419,"y":745,"wires":[]},{"id":"67ee6f4b.67e25","type":"mqtt out","z":"a5157b31.b3d168","name":"","topic":"","qos":"","retain":"","broker":"c4afc286.cf386","x":906.0000228881836,"y":102.00000858306885,"wires":[]},{"id":"71b69960.968ae8","type":"debug","z":"a5157b31.b3d168","name":"","active":true,"console":"false","complete":"false","x":924.0000114440918,"y":163.00000858306885,"wires":[]},{"id":"30ddb5a8.1a281a","type":"split","z":"a5157b31.b3d168","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":715.0000419616699,"y":101.00000190734863,"wires":[["71b69960.968ae8","67ee6f4b.67e25"]]},{"id":"8350d64d.377648","type":"link in","z":"a5157b31.b3d168","name":"emit","links":["268dbbe1.901174","3b254a0c.1a2086"],"x":191.5,"y":139,"wires":[["69cd54d3.6f307c","85778185.3e4f1"]]},{"id":"268dbbe1.901174","type":"link out","z":"be605af7.e7d208","name":"","links":["8350d64d.377648"],"x":464.75000381469727,"y":208.49999523162842,"wires":[]},{"id":"85419070.d9415","type":"comment","z":"a5157b31.b3d168","name":"433Mhz emit","info":"","x":879.4999923706055,"y":63.000001430511475,"wires":[]},{"id":"3b254a0c.1a2086","type":"link out","z":"89fe39cb.e59008","name":"","links":["8350d64d.377648"],"x":846.5,"y":416,"wires":[]},{"id":"656461f1.41d4a","type":"debug","z":"89fe39cb.e59008","name":"","active":true,"console":"false","complete":"false","x":691.5,"y":560.9999856948853,"wires":[]},{"id":"4be725b4.f3aabc","type":"inject","z":"ab0dd0bb.98fe4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":323.75,"y":701.25,"wires":[["f356210e.80cc5"]]},{"id":"f356210e.80cc5","type":"function","z":"ab0dd0bb.98fe4","name":"create homebridge accessories","func":"var res=[];\nfor (i in context.global.nodes) {\n    if (context.global.nodes[i].lastData.t) {\n        res.push({payload: {\"name\": \"temp-\"+i, \"service_name\": context.global.nodes[i].name, \"service\": \"TemperatureSensor\"},topic:\"homebridge/to/add\"});\n    }\n};\nreturn [res];","outputs":1,"noerr":0,"x":562.5,"y":702.5,"wires":[["9f01ed7a.51ac1","eb102185.b282a"]]},{"id":"9f01ed7a.51ac1","type":"debug","z":"ab0dd0bb.98fe4","name":"","active":true,"console":"false","complete":"true","x":841.8750114440918,"y":700.0000114440918,"wires":[]},{"id":"eb102185.b282a","type":"mqtt out","z":"ab0dd0bb.98fe4","name":"","topic":"","qos":"","retain":"","broker":"c4afc286.cf386","x":831.875,"y":763.75,"wires":[]},{"id":"ec075840.f4a748","type":"function","z":"b7ba9ec5.91f5b","name":"homebridge values update","func":"if (msg.payload.data.t) {\n    msg.topic = \"homebridge/to/set\";\n    var t = msg.payload.data.t;\n    var id = msg.payload.id;\n    var name = msg.payload.name;\n    msg.payload = {\"name\": \"temp-\"+id,\"service_name\":context.global.nodeinfos[id],\"characteristic\":\"CurrentTemperature\",\"value\":t}\n}\nelse {\n    msg={};\n}\nreturn msg;","outputs":1,"noerr":0,"x":806.5174140930176,"y":472.6875534057617,"wires":[["ab7bf22f.d4234"]]},{"id":"ab7bf22f.d4234","type":"mqtt out","z":"b7ba9ec5.91f5b","name":"","topic":"","qos":"","retain":"","broker":"c4afc286.cf386","x":1037.5208740234375,"y":471.9444646835327,"wires":[]},{"id":"9b6e2bac.f268e8","type":"function","z":"a5157b31.b3d168","name":"encode rc_emit before emit","func":"if (context.global.config.action_config[msg.payload.name]) {\n    var name = msg.payload.name;\n    var res =[];\n    var val;\n    \n    if (msg.payload.value === true) \n        val = context.global.config.action_config[msg.payload.name].action_payload_on;\n    else \n        val = context.global.config.action_config[msg.payload.name].action_payload_off;\n    \n    if (typeof val == \"number\") {\n        res.push(val);\n    }\n    if (typeof val == \"string\") {\n        node.warn(val);\n        var actions = val.split(\"+\");\n        for (var i=0;i<actions.length;i++) {\n            res.push(parseInt(actions[i]));\n        }\n    }\n    \n    msg.payload = res;\n    msg.topic = \"j5net/nodes/\"+context.global.config.action_config[name].action_nodeid+\"/rc_emit\";\n}\nelse {\n    msg={};\n    node.warn(\"unknown action_id (\"+msg.payload.action_id+\")\");\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":518.0173568725586,"y":102.01041221618652,"wires":[["30ddb5a8.1a281a"]]},{"id":"69cd54d3.6f307c","type":"switch","z":"a5157b31.b3d168","name":"","property":"payload.characteristic","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"TargetPosition","vt":"str"}],"checkall":"true","outputs":2,"x":297.0173759460449,"y":139.26045989990234,"wires":[["9b6e2bac.f268e8"],["7054497a.df7008"]]},{"id":"7054497a.df7008","type":"function","z":"a5157b31.b3d168","name":"encode mqtt before emit","func":"if (context.global.config.action_config[msg.payload.name]) {\n    var name = msg.payload.name;\n    var val;\n    \n    if (msg.payload.value === 100) \n        msg.payload = context.global.config.action_config[msg.payload.name].action_payload_up;\n    else \n        msg.payload = context.global.config.action_config[msg.payload.name].action_payload_down;\n    \n    msg.topic = \"j5net/nodes/\"+context.global.config.action_config[name].action_nodeid+\"/action/1\";\n}\nelse {\n    msg={};\n    node.warn(\"unknown action_id (\"+msg.payload.action_id+\")\");\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":507.51734924316406,"y":196.2604103088379,"wires":[["c47fc267.d7cd5"]]},{"id":"c47fc267.d7cd5","type":"mqtt out","z":"a5157b31.b3d168","name":"","topic":"","qos":"","retain":"","broker":"c4afc286.cf386","x":713.1423606872559,"y":195.51040935516357,"wires":[]},{"id":"85778185.3e4f1","type":"debug","z":"a5157b31.b3d168","name":"","active":true,"console":"false","complete":"false","x":315.51390075683594,"y":257.56250762939453,"wires":[]},{"id":"5fcc1c0c.e3cf44","type":"function","z":"89fe39cb.e59008","name":"","func":"if (msg.payload.type === \"updown\") {\n    msg.payload.characteristic = \"TargetPosition\";\n    if (msg.payload.action ===\"up\")\n        msg.payload.value = 100;\n    if (msg.payload.action ===\"down\")\n        msg.payload.value = 0;\n    delete msg.payload.action;\n    delete msg.payload.type;\n    msg.payload.service_name = context.global.config.action_config[msg.payload.name].action_service_name;\n}\nif (msg.payload.type === \"onoff\") {\n    msg.payload.characteristic = \"On\";\n    if (msg.payload.action ===\"on\")\n        msg.payload.value = true;\n    if (msg.payload.action ===\"off\")\n        msg.payload.value = false;\n    delete msg.payload.action;\n    delete msg.payload.type;\n    msg.payload.service_name = context.global.config.action_config[msg.payload.name].action_service_name;\n}\nreturn msg;","outputs":1,"noerr":0,"x":690.7465286254883,"y":420.6736240386963,"wires":[["656461f1.41d4a","3b254a0c.1a2086"]]}]